<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="org.autojs.permission.PLUGIN" />

    <application
        android:allowBackup="false"
        android:label="@string/app_name"
        android:supportsRtl="true">

        <service
            android:name=".ApkBuilderTemplateInfoService"
            android:enabled="true"
            android:exported="true"
            android:permission="org.autojs.permission.PLUGIN">

            <intent-filter>
                <action android:name="org.autojs.plugin.INFO" />
                <category android:name="apk-builder-template" />
            </intent-filter>
        </service>

        <service
            android:name=".ApkBuilderTemplatePluginService"
            android:enabled="true"
            android:exported="true"
            android:permission="org.autojs.permission.PLUGIN">

            <intent-filter>
                <action android:name="org.autojs.plugin.APK_BUILDER" />
            </intent-filter>
        </service>

    </application>
</manifest>
